﻿@model IEnumerable<Booking.Models.Training>

@{
    ViewBag.Title = "Registreerimine";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Registreerimine</h2>


@if (TempData["SavedMessage"] != null)
{
    <h4 style="color:red;">@TempData["SavedMessage"]</h4>
    @*@TempData["SavedMessage"]*@
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Treeningu tüüp", "Index", new { sortOrder = ViewBag.NameSortParm })
            @*@Html.DisplayNameFor(model => model.TrainingType.Name)*@
        </th>
        <th>
            @Html.ActionLink("Kuupäev", "Index", new { sortOrder = ViewBag.DateSortParm })
            @*@Html.DisplayNameFor(model => model.Date)*@
        </th>
        <th>
            @Html.ActionLink("Kellaaeg", "Index", new { sortOrder = ViewBag.StartTimeSortParm })
            @*@Html.DisplayNameFor(model => model.StartTime)*@
        </th>
        <th>
            @Html.ActionLink("Treener", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
            @*@Html.DisplayName("Treeneri nimi")*@
        </th>
        <th>
            @Html.ActionLink("Kestvus (min)", "Index", new { sortOrder = ViewBag.DurationSortParm })
            @*@Html.DisplayNameFor(model => model.Duration)*@
        </th>
        @*<th>
            @Html.ActionLink("Maksimaalne kohtade arv", "Index", new { sortOrder = ViewBag.MaxParticipantsSortParm })
            @Html.DisplayName("Max kohti")
        </th>*@
        <th>
            @Html.ActionLink("Vabu kohti", "Index", new { sortOrder = ViewBag.FreeSpotsSortParm })
            @*@Html.DisplayNameFor(model => model.FreeSpots)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TrainingType.MaxParticipants)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.FreeSpots)
        </td>
        <td>
            @Html.ActionLink("Info", "Details", new { id = item.Id }) |
            @if (item.CurrentUserJoined == true)
    {
        @Html.ActionLink("Tühista", "Delete", new { id = item.Id })
}
else
{
if (item.FreeSpots == 0)
{
        <font color="grey">Registreeri</font>
}
else
{
        @Html.ActionLink("Registreeri", "Join", new { id = item.Id })
}
}
        </td>
    </tr>
}

</table>
