﻿@model IEnumerable<Booking.Models.ApplicationUser>

@{
    ViewBag.Title = "Kliendid";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Kliendid</h2>

@*<p>*@
@*@Html.ActionLink("Lisa uus", "Create")*@
@*  </p>*@

@*@using (Html.BeginForm())
{
    <p>
        Otsi: @Html.TextBox("SearchString")
        <input type="submit" value="Otsi" />
    </p>
}*@

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Eesnimi", "Clients", new { sortOrder = ViewBag.FirstNameSortParm })
            @*@Html.DisplayNameFor(model => model.FirstName)*@
        </th>
        <th>
            @Html.ActionLink("Perekonnanimi", "Clients", new { sortOrder = ViewBag.LastNameSortParm })
            @*@Html.DisplayNameFor(model => model.LastName)*@
        </th>
        <th>
            @Html.ActionLink("Telefoninumber", "Clients", new { sortOrder = ViewBag.PhoneSortParm })
            @*@Html.DisplayNameFor(model => model.Phone)*@
        </th>
        <th>
            @Html.ActionLink("Email/ kasutajatunnus", "Clients", new { sortOrder = ViewBag.EmailSortParm })
            @*@Html.DisplayName("Email/ kasutajatunnus")*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Muuda", "EditClients", new { id = item.Id }) |
                @Html.ActionLink("Kustuta", "DeleteClients", new { id = item.Id })
            </td>
        </tr>
    }

</table>
