﻿@model IEnumerable<Booking.Models.Training>

@{
    ViewBag.Title = "Treeningud";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Treeningud</h2>

@if (TempData["SavedMessage"] != null)
{
    <h4 style="color:red;">@TempData["SavedMessage"]</h4>
    @*@TempData["SavedMessage"]*@
}

<p>
    @Html.ActionLink("Lisa uus treening", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingType.MaxParticipants)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(model => item.TrainingType.MaxParticipants)
        </td>
        <td>
            @Html.ActionLink("Muuda", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Loe rohkem", "Details", new { id=item.Id }) |
            @Html.ActionLink("Tühista", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
