﻿@model Booking.Models.Training

@{
    ViewBag.Title = "Kinnitamine - title";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Training</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @*@Html.HiddenFor(model => model.tra)*@

        <div class="form-group">
            @Html.LabelFor(model => model.TrainingType.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.TrainingType.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DisplayFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } }) 
            min
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
        </div>
  

        @*<div class="form-group">
            @Html.LabelFor(model => model.FullName, "SpecialistId", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })

        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registreeru" class="btn btn-default" />
                <input type="submit" value="Tagasi" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
