﻿@model IEnumerable<Booking.Models.Training>

@{
    ViewBag.Title = "Registreerimine";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Registreerimine</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            Vabu kohti
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
                <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.ActionLink("Registreeri", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Tühista", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
